
* {background-color: grey;border-radius:10px}
 
  #pres {border : 10px solid #000;border-color: white;border-style: outset;}
  
  img1 {border : 10px solid #000;border-color:pink;border-style: intset;position: relative ;left: 250px;}
	
	#La_reference {border : 10px solid #000;border-color: red; }
	
	#le_reste {border : 10px solid #000;border-color: red; }
	
	#info1,#info2 {border : 5px solid #000;border-color: white; }
	
	#cvdonnée {border : 5px solid #000;border-color: white; }
	
@media (max-width: 600px) {
  nav {
    #content { display: flex; }
  #main { flex: 1 1 auto; }
  nav { flex: 0 0 auto; #content { display: flex; }

  }
}

@media (min-width: 600px) {
  #main {
    display: flex;
    flex-flow: row wrap;
  }
  #main section {
    flex: 1 1 auto;
    min-width: 20%;
  }
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }

nav li:hover ul {
  background-color: #614;
  box-shadow: -1px -1px 2px;
}
section:nth-child(even) {
  background-color: #614;    
}
nav {
  font-size: smaller;  
}
h1 {text-shadow: 5px 5px 5px #FF0000;}
	
 hypnosia {width: 1000px;}
	

