
* {background-color: black;border-radius:10px}
 
  #presee {border : 10px solid #000;border-color: white;border-style: outset;}
  

h1 {text-shadow: 5px 5px 5px 0000000;}
	
 .img2 {width: 10000px;}

.colonne {
  width: 49%;
  display: inline-block;
}	
	.colonne h1 { text-align: center; }
	.colonne a { text-align: center; }
	.colonne p { text-align: center; }
	
	
